{% extends 'base.html.twig' %}

{% block title %}Compétence – Développement{% endblock %}

{% block body %}
<section class="section">
    <h1>Compétence : Développement</h1>
    <p>Ajoutez la tout ce qui est en rapport avec le dev</p>
</section>
{% endblock %}
