{% extends 'base.html.twig' %}

{% block title %}Compétence – Réseaux{% endblock %}

{% block body %}
<section class="section">
    <h1>Compétence : Réseaux</h1>
    <p>Ajoutez la tout ce qui est en rapport avec le reseau</p>
</section>
{% endblock %}
