{% extends 'base.html.twig' %}

{% block title %}Compétence – Administration Système{% endblock %}

{% block body %}
<section class="section">
    <h1>Compétence : Administration Système</h1>
    <p>Ajoutez la tout ce qui est en rapport avec les système d'administration</p>
</section>
{% endblock %}
