<h1>CV de {{ data.prenom }} {{ data.nom }}</h1>
<p>Email : {{ data.email }}</p>

<hr>

<h2>Formations</h2>
<p>2023 - 2025 : BUT RT, IUT Roanne </p>

<h2>Compétences</h2>
<p>Symfony, Réseaux, Linux, etc.</p>
